{% extends "base.html" %}
{% load  wagtailimages_tags wagtailcore_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    {% block nav %}{{ block.super }}{% endblock %}

    <div class="main">
        <div class="container tim-container" style="padding-top:125px">
            <div class="col-md-1">
                {% with categories=page.categories.all %}
                    {% if categories %}
                        <h3>Posted in:</h3>
                        <ul>
                            {% for category in categories %}
                                <li style="display: inline">
                                    {% image category.icon fill-32x32 style="vertical-align: middle" %}
                                    {{ category.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-2">
                <h3>{{ page.title }}</h3>
                <p class="text-muted">{{ page.date }}</p>

                <div class="intro">{{ page.intro }}</div>
            </div>

            <div class="col-md-9">
                {{ page.body|richtext }}

                {% for item in page.gallery_images.all %}
                    <div style="float: left; margin: 10px">
                        {% image item.image fill-320x240 %}
                        <p>{{ item.caption }}</p>
                    </div>
                {% endfor %}

                {% if page.tags.all.count %}
                    <div class="tags">
                        <h3>Tags</h3>
                        {% for tag in page.tags.all %}
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button> </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <p><a href="{{ page.get_parent.url }}">Return to blog</a> </p>
            </div>
        </div>
    </div>
{% endblock %}