{% extends "base.html" %***REMOVED***

{% load wagtailcore_tags  wagtailimages_tags %***REMOVED***

{% block body_class %***REMOVED***template-blogpage{% endblock %***REMOVED***

{% block content %***REMOVED***
    <h1>{{ page.title ***REMOVED******REMOVED***</h1>
    <p class="meta">{{ page.date ***REMOVED******REMOVED***</p>

    <div class="intro">{{ page.intro ***REMOVED******REMOVED***</div>

***REMOVED***{ page.body|richtext ***REMOVED******REMOVED***

***REMOVED***% for item in page.gallery_images.all %***REMOVED***
        <div style="float: left; margin: 10px">
        ***REMOVED***% image item.image fill-320x240 %***REMOVED***
            <p>{{ item.caption ***REMOVED******REMOVED***</p>
        </div>
***REMOVED***% endfor %***REMOVED***

***REMOVED***% if page.tags.all.count %***REMOVED***
        <div class="tags">
            <h3>Tags</h3>
        ***REMOVED***% for tag in page.tags.all %***REMOVED***
                <a href="{% slugurl 'tags' %***REMOVED***?tag={{ tag ***REMOVED******REMOVED***"><button type="button">{{ tag ***REMOVED******REMOVED***</button> </a>
        ***REMOVED***% endfor %***REMOVED***
        </div>
***REMOVED***% endif %***REMOVED***

    <p><a href="{{ page.get_parent.url ***REMOVED******REMOVED***">Return to blog</a> </p>

{% endblock %***REMOVED***