{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags blog_tags static %}

{% block extra_css %}<link href="{% static 'blog/css/blog.css' %}" rel="stylesheet" type="text/css" />{% endblock %}

{% block title %}CTS Blog{% endblock %}

{% block content %}
    {% block nav %}{{ block.super }}{% endblock %}

    <div class="main">
        <div class="container tim-container" style="padding-top:50px">
            <div class="col-md-3">
                <h3>{{ page.title }}</h3>

                <div class="text-muted">{{ page.intro|richtext }}</div>
            </div>

            <div class="col-md-5">
                {% post_list %}
            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>{{ page.about|richtext }}</p>
                </div>
                <div class="sidebar-module">
                    <h4>Archives</h4>
                    {% archives_list %}
                </div>
                <div class="sidebar-module">
                    <h4>Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li>
                            <img src="{% static 'img/social-1_logo-github.svg' %}" height="15px" style="padding-right: 5px">
                            <a href="https://github.com/cts-admin">GitHub</a>
                        </li>
                        <li>
                            <img src="{% static 'img/social-1_logo-twitter.svg' %}" height="15px" style="padding-right: 5px">
                            <a href="https://twitter.com/ctsadmin">Twitter</a></li>
                        <li>
                            <img src="{% static 'img/social-1_logo-facebook.svg' %}" height="15px" style="padding-right: 5px">
                            <a href="https://www.facebook.com/ConservationTechnologySolutions/">Facebook</a>
                        </li>
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->
        </div>
        <div class="space"></div>
        <!-- end container -->
    </div>
    <!-- end main -->
{% endblock %}