{% extends "base.html" %***REMOVED***

{% load wagtailcore_tags %***REMOVED***

{% block body_class %***REMOVED***template-blogindexpage{% endblock %***REMOVED***

{% block content %***REMOVED***
    <h1>{{ page.title ***REMOVED******REMOVED***</h1>

    <div class="intro">{{ page.intro|richtext ***REMOVED******REMOVED***</div>

***REMOVED***% for post in blogpages %***REMOVED***
    ***REMOVED***% with post=post.specific %***REMOVED***
            <h2><a href="{% pageurl post %***REMOVED***">{{ post.title ***REMOVED******REMOVED***</a> </h2>
        ***REMOVED***{ post.intro ***REMOVED******REMOVED***
        ***REMOVED***{ post.body|richtext ***REMOVED******REMOVED***
    ***REMOVED***% endwith %***REMOVED***
***REMOVED***% endfor %***REMOVED***

{% endblock %***REMOVED***