
.idea/
Dockerfile
cts/cts/settings/base.py
/cts/cts/settings/dev.py
cts/cts/settings/production.py
cts/cts/static/img/apple-icon.png
cts/cts/static/img/bg.jpg
cts/cts/static/img/blurred-black-cover.jpeg
cts/cts/static/img/carousel_blue.png
cts/cts/static/img/carousel_green.png
cts/cts/static/img/carousel_orange.png
cts/cts/static/img/carousel_red.png
cts/cts/static/img/cover_4.jpg
cts/cts/static/img/cover_4_blur.jpg
cts/cts/static/img/dulau.jpg
cts/cts/static/img/favicon.png
cts/cts/static/img/mask.png
cts/cts/static/img/mockup.png
cts/cts/static/img/new_logo.png
cts/cts/static/img/tim_80x80.png
cts/home/templates/home/components.html
cts/home/templates/home/index.html
cts/home/templates/home/navbar-transparent.html
cts/home/templates/home/notification.html
cts/home/templates/home/template.html
cts/home/templates/home/tutorial.html
docker-compose.yml

