
.idea/
Dockerfile
cts/blog/__pycache__/
cts/blog/migrations/
cts/cts/__pycache__/
cts/cts/settings/__pycache__/
cts/cts/settings/base.py
cts/cts/static/bootstrap3/
cts/cts/static/css/gsdk.css
cts/cts/static/img/apple-icon.png
cts/cts/static/img/bg.jpg
cts/cts/static/img/blurred-black-cover.jpeg
cts/cts/static/img/carousel_blue.png
cts/cts/static/img/carousel_green.png
cts/cts/static/img/carousel_orange.png
cts/cts/static/img/carousel_red.png
cts/cts/static/img/cover_4.jpg
cts/cts/static/img/cover_4_blur.jpg
cts/cts/static/img/dulau.jpg
cts/cts/static/img/favicon.png
cts/cts/static/img/mask.png
cts/cts/static/img/mockup.png
cts/cts/static/img/new_logo.png
cts/cts/static/img/tim_80x80.png
cts/cts/static/jquery/
cts/cts/static/js/get-shit-done.js
cts/cts/static/js/gsdk-bootstrapswitch.js
cts/cts/static/js/gsdk-checkbox.js
cts/cts/static/js/gsdk-radio.js
cts/cts/static/js/jquery-ui-1.10.4.custom.min.js
cts/cts/static/sass/gsdk.scss
cts/cts/static/sass/gsdk/_alerts.scss
cts/cts/static/sass/gsdk/_buttons.scss
cts/cts/static/sass/gsdk/_carousel.scss
cts/cts/static/sass/gsdk/_checkbox-radio-switch.scss
cts/cts/static/sass/gsdk/_collapse.scss
cts/cts/static/sass/gsdk/_dropdown.scss
cts/cts/static/sass/gsdk/_inputs.scss
cts/cts/static/sass/gsdk/_labels-and-progress-bars.scss
cts/cts/static/sass/gsdk/_misc.scss
cts/cts/static/sass/gsdk/_mixins.scss
cts/cts/static/sass/gsdk/_modal.scss
cts/cts/static/sass/gsdk/_navbars.scss
cts/cts/static/sass/gsdk/_responsive.scss
cts/cts/static/sass/gsdk/_sliders.scss
cts/cts/static/sass/gsdk/_tabs-navs-pagination.scss
cts/cts/static/sass/gsdk/_tooltips.scss
cts/cts/static/sass/gsdk/_typography.scss
cts/cts/static/sass/gsdk/_variables.scss
cts/cts/static/sass/gsdk/mixins/_buttons.scss
cts/cts/static/sass/gsdk/mixins/_inputs.scss
cts/cts/static/sass/gsdk/mixins/_labels.scss
cts/cts/static/sass/gsdk/mixins/_navbars.scss
cts/cts/static/sass/gsdk/mixins/_tabs.scss
cts/cts/static/sass/gsdk/mixins/_transparency.scss
cts/cts/static/sass/gsdk/mixins/_vendor-prefixes.scss
cts/home/__pycache__/
cts/home/migrations/0002_homedetailpage.py
cts/home/migrations/0003_auto_20170524_0603.py
cts/home/migrations/0004_auto_20170524_0608.py
cts/home/migrations/0005_auto_20170524_0700.py
cts/home/migrations/0006_homepage_use_detail_template.py
cts/home/migrations/0007_contactpage.py
cts/home/migrations/__pycache__/
cts/home/templates/home/components.html
cts/home/templates/home/index.html
cts/home/templates/home/navbar-transparent.html
cts/home/templates/home/notification.html
cts/home/templates/home/template.html
cts/home/templates/home/tutorial.html
cts/media/
cts/static/
docker-compose.yml
/cts/home/migrations/0001_initial.py
/cts/cts/settings/production.py
/cts/cts/settings/dev.py
!/cts/blog/migrations/
/cts/blog/migrations/0001_initial.py
!/cts/cts/static/bootstrap3/
!/cts/cts/static/jquery/
!/cts/cts/static/js/gsdk-radio.js
!/cts/cts/static/js/jquery-ui-1.10.4.custom.min.js
!/cts/cts/static/js/gsdk-bootstrapswitch.js
!/cts/cts/static/js/gsdk-checkbox.js
!/cts/cts/static/js/get-shit-done.js
