{% extends "base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}
    {% block nav %}{{ block.super }}{% endblock nav %}

    <div class="main">
        <div class="container tim-container" style="padding-top:50px">
            <div class="col-md-3">
                <h3>You've been logged out</h3>
            </div>

            <div class="col-md-9">
                <p>
                    Thanks for stopping by;
                    when you come back, don't forget to <a href="{% url 'login' %}">log in</a> again.
                </p>
            </div>
        </div>
        <div class="space"></div>
        <!-- end container -->
    </div>
    <!-- end main -->
{% endblock %}