{% extends 'base.html' %}
{% load humanize static %}

{% block title %}Plant Database{% endblock %}

{% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/overlay.css' %}">{% endblock %}

{% block content %}
    {% block nav %}{{ block.super }}{% endblock %}
    {% block messages %}{{ block.super }}{% endblock %}

    <div class="main">
        <div class="container tim-container" style="padding-top:50px">
            <div class="col-md-3">
                <h2>
                    CTS Plant Database
                </h2>

                <div class="text-muted">
                    GIS-linked plant database suitable for tracking herbarium specimens and/or seed collections.
                </div>
                <br/>
                <div class="text-muted">
                    Use the <a href="{% url 'plant_database:add_accession' %}">seed accession form</a> to add new seed
                    accessions to the database.
                </div>
            </div>

            <div class="col-md-9">
                {% if user.is_authenticated %}
                    <ul>
                        {% for accession in accessions %}
                            <li>accession.genus accession.species</li>
                        {% empty %}
                            <p>Your plant database is empty!</p>
                            <p>
                                <a href="{% url 'plant_database:add_accession' %}">Add your first accession!</a>
                            </p>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>
                        Please <a href="{% url 'login' %}?next={{request.path}}">log in</a> to get started with your own
                        personal plant database.
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="space"></div>
        <!-- end container -->
    </div>
    <!-- end main -->

{% endblock %}
