.parallax-pro .img-src {
    background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}
.img-main{
    max-height: 220px;
}

.donate {
    margin-bottom: 30px;
}

.stripe-custom-checkout .form-control {
    max-width: 450px;
}

.form-horizontal .form-group .radio {
    padding-top: 0;
    margin-top: 7px;
}

div.form-group.checkbox {
    padding-top: 0;
    margin-top: 7px;
}

.form-group {
    margin-bottom: 10px;
}

.btn-space {
    margin-top: 10px;
}

.donor-goals {
    float: right;
}

@media (max-width: 620px) {
    .donor-goals {
        margin: 10px 0 10px;
        float: inherit;
    }
}

.donors-section {
    overflow: hidden;
}

.donors-section .donors {
    clear: both;
    float: inherit;
}

.donors-section h5 {
    clear: both;
    text-align: center;
}

.donors-section .donor {
    width: calc(100% / 3);
    position: relative;
    height: auto;
}

.donors-section .donor div {
    width: 100%;
}

.donors-section .donor-logo {
    height: 100px;
    line-height: 100px;
}

.donors-section .donor-logo img {
    vertical-align: middle;
}

.donors-section .donor-name {
    min-height: 87px;
    vertical-align: top;
    margin-bottom: 5px;
}

.donors-section .no-logo-donor {
    min-height: 60px;
    margin-right: 24px;
}

.donors-section div {
    float: left;
    text-align: center;
}

.donors-section div img {
    max-width: 90%;
    max-height: 170px;
}
