{% for error in form.non_field_errors %}
    <div class="form-group has-error text-danger">
        {{ error }}
    </div>
{% endfor %}
{% for field in form %}
    <div class="has-error text-danger">
        {{ field.errors }}
    </div>
    {% if field.name == 'donor_type' %}
        <div class="form-group">
            {{ form.donor_type.label_tag }}
            {% for radio in form.donor_type %}
                <div class="radio">
                    {{ radio }}
                </div>
            {% endfor %}
        </div>
    {% elif field.name == 'logo' %}
        <div class="form-group">
            {{ form.logo.label_tag }}
            <div>
                {{ form.logo }}
            </div>
        </div>
    {% elif field.name == 'is_visible' %}
        <div class="form-group checkbox">
            {{ form.is_visible }}
            {{ form.is_visible.label_tag }}
        </div>
    {% elif field.name == 'is_subscribed' %}
        <div class="form-group checkbox">
            {{ form.is_subscribed }}
            {{ form.is_subscribed.label_tag }}
        </div>
    {% elif field.name == 'id' %}
        <div class="form-group">
            {{ field }}
        </div>
    {% else %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endif %}
{% endfor %}