{% load static fundraising_extras humanize %}

{% with goal_percent=donated_amount|as_percentage:goal_amount %}

    <div class="donor-goals">
        <ul>
            <li><strong>{{ goal_percent }}% funded</strong></li>
            <li><strong>${{ donated_amount|intcomma }} donated</strong> of ${{ goal_amount|intcomma }} goal for
                {{ goal_start_date|date:"Y" }}</li>
            <li><strong>{{ total_donors }} donor{{ total_donors|pluralize:",s" }}</strong></li>
        </ul>
    </div>

    <form
            method="POST"
            class="stripe-custom-checkout row"
            action="{% url "fundraising:donate" %}"
            data-stripe-key="{{ stripe_publishable_key }}"
            data-stripe-icon="{% static 'img/cts_icon.svg' %}"
            data-is-logged-in="{{ user.is_authenticated }}"
            data-login-url="{% url 'login' %}">
        {% csrf_token %}
        <h3>Help us make it happen:</h3>
        {{ form.interval }}
        {{ form.amount }}
        <div class="custom-donation">
            <span class="prefix">US $ (integer only)</span>
        </div>
        <button id="donate-btn" class="btn btn-primary form-group">Donate monthly</button>
    </form>

    <div class="space-30"></div>
    <p class="text-muted">
        Your logo will be visible below if you contribute at least
        US&nbsp;${{ display_logo_amount|intcomma }}.<br>
    </p>
{% endwith %}

<hr style="margin: 40px 0" />