{% load static wagtailuserbar %***REMOVED***
{% load wagtailcore_tags %***REMOVED***

<!doctype html>
<html lang="en">
<!--[if lt IE 7***REMOVED***>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif***REMOVED***-->
<!--[if IE 7***REMOVED***>         <html class="no-js lt-ie9 lt-ie8"> <![endif***REMOVED***-->
<!--[if IE 8***REMOVED***>         <html class="no-js lt-ie9"> <![endif***REMOVED***-->
<!--[if gt IE 8***REMOVED***><!--> <html class="no-js"> <!--<![endif***REMOVED***-->
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="../../../cts/static/img/apple-icon.png">
        <link rel="icon" type="image/png" href="../../../cts/static/img/favicon.png">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        <title>
        ***REMOVED***% block title %***REMOVED***
            ***REMOVED***% if self.seo_title %***REMOVED***{{ self.seo_title ***REMOVED******REMOVED***{% else %***REMOVED***{{ self.title ***REMOVED******REMOVED***{% endif %***REMOVED***
        ***REMOVED***% endblock %***REMOVED***
        ***REMOVED***% block title_suffix %***REMOVED***
            ***REMOVED***% with self.get_site.site_name as site_name %***REMOVED***
                ***REMOVED***% if site_name %***REMOVED***- {{ site_name ***REMOVED******REMOVED***{% endif %***REMOVED***
            ***REMOVED***% endwith %***REMOVED***
        ***REMOVED***% endblock %***REMOVED***
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

    ***REMOVED***# Global stylesheets #***REMOVED***
        <link rel="stylesheet" type="text/css" href="{% static 'css/cts.css' %***REMOVED***">

    ***REMOVED***# Get Shit Done #***REMOVED***
        <link href="{% static 'bootstrap3/css/bootstrap.css' %***REMOVED***" rel="stylesheet" />

        <link href="{% static 'css/gsdk.css' %***REMOVED***" rel="stylesheet" />
        <link href="{% static 'css/live.css' %***REMOVED***" rel="stylesheet" />

        <link href="{% static 'bootstrap3/css/font-awesome.css' %***REMOVED***" rel="stylesheet">

        <script src="{% static 'jquery/jquery-1.10.2.js' %***REMOVED***" type="text/javascript"></script>
        <script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %***REMOVED***" type="text/javascript"></script>

        <script src="{% static 'bootstrap3/js/bootstrap.js' %***REMOVED***" type="text/javascript"></script>
        <script src="{% static 'js/gsdk-checkbox.js' %***REMOVED***"></script>
        <script src="{% static 'js/gsdk-radio.js' %***REMOVED***"></script>
        <script src="{% static 'js/gsdk-bootstrapswitch.js' %***REMOVED***"></script>
        <script src="{% static 'js/get-shit-done.js' %***REMOVED***"></script>

    ***REMOVED***% block extra_head %***REMOVED***{% endblock %***REMOVED***

    ***REMOVED***% block extra_css %***REMOVED***
        ***REMOVED***# Override this in templates to add extra stylesheets #***REMOVED***
    ***REMOVED***% endblock %***REMOVED***
    </head>

    <body class="{% block body_class %***REMOVED***{% endblock %***REMOVED***">
    ***REMOVED***% wagtailuserbar %***REMOVED***

    ***REMOVED***% block content %***REMOVED***
        ***REMOVED***% block nav %***REMOVED***
                <div id="navbar-full">
                    <div class="container">
                        <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">

                          <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="/">
                                     <div class="logo-container">
                                        <div class="logo">
                                            <span class="glyphicon glyphicon-leaf" aria-hidden="true" style="padding: 16px 16px; color:darkgreen"></span>
                                        </div>
                                        <div class="brand">
                                            Conservation Technology Solutions
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right">
                                    <li><a href={% slugurl 'mission' %***REMOVED***>Mission</a></li>

                                    <li><a href="https://paypal.me/donatects" class="btn btn-round btn-default">Donate</a></li>
                               </ul>

                            </div><!-- /.navbar-collapse -->
                          </div><!-- /.container-fluid -->
                        </nav>
                    </div><!--  end container-->

                    <div class='blurred-container'>
                        <div class="motto">
                            <div class="border no-left-border no-right-border">CTS</div>
                        </div>
                        <div class="img-src" style="background-image: url({% static 'img/eriogonum.JPG' %***REMOVED***)"></div>
                        <div class='img-src blur' style="background-image: url({% static 'img/eriogonum_blur.JPG' %***REMOVED***)"></div>
                    </div>
                </div>
        ***REMOVED***% endblock nav %***REMOVED***
    ***REMOVED***% endblock %***REMOVED***

    ***REMOVED***# Global javascript #***REMOVED***
        <script type="text/javascript" src="{% static 'js/cts.js' %***REMOVED***"></script>

    ***REMOVED***% block extra_js %***REMOVED***
        ***REMOVED***# Override this in templates to add extra javascript #***REMOVED***
    ***REMOVED***% endblock %***REMOVED***
    </body>
</html>
