{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags blog_tags static %}

{% block title %}CTS Honey Bee Hive Camera{% endblock %}

{% block content %}
    {% block nav %}{{ block.super }}{% endblock %}

<div id="id_main" class="main">
        <div class="container tim-container" style="padding-top:125px">
            <div class="col-md-3">
                <h3>Honey Bee Hive Camera</h3>
            </div>

            <div class="col-md-5">
                <p>Hive camera</p>
            </div>
        </div>
        <div class="space"></div>
        <!-- end container -->
    </div>
    <!-- end main -->
{% endblock %}

{% block extra_js %}
    <script src="{% static 'beecam/js/stats.js' %}" type="text/javascript"></script>
{% endblock %}