# Example file to store sensitive postgres credentials
# You want want to change these values if you're running this locally
# You definitely want to change these values if you're running remotely

# Example database credentials
PG_USER=example_db_user
PG_PASSWORD=example_db_password
PG_DB=example_db_name