{% extends 'base.html' %}
{% load fundraising_extras humanize static %}

{% block title %}Support CTS{% endblock %}

{% block content %}
    {% block nav %}{{ block.super }}{% endblock %}
    {% block messages %}{{ block.super }}{% endblock %}

    <div class="main">
        <div class="container tim-container" style="padding-top:50px">
            <div class="col-md-3">
                <h3>
                    Support CTS
                </h3>

                <div class="text-muted">
                    Support natural resource conservation by donating to Conservation Technology Solutions Inc.
                </div>
            </div>

            <div class="col-md-9">
                {% if user.is_authenticated %}
                    {% donation_form %}
                {% else %}
                    <p><strong>
                        We take security seriously so we would prefer if you were
                        <a href="{% url 'login' %}?next={{request.path}}">logged in</a> before donating!
                    </strong></p>
                    <p>This helps us ensure all of your information stays private and protected.</p>
                    <br/>
                    <p>If you really don't want to <a href="{% url 'login' %}?next={{request.path}}">login</a>, you can
                        <a href="https://paypal.me/donatects">donate via PayPal</a> but you'll miss out on some extra
                        features and functionality.
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="container tim-container">
            <div class="col-md-3">
                <h3 id="why-give">
                    Why Give?
                </h3>
            </div>

            <div class="col-md-9">
                <p>
                    The main goal of CTS is to provide technical support to those involved in natural resource
                    conservation. This means:
                </p>
                <ul>
                    <li>Developing software that helps researchers do their jobs</li>
                    <li>Designing hardware to help answer questions about the natural world</li>
                    <li>Encourage the next generation of scientists by getting kids interested in the
                        technology surrounding scientific discoveries</li>
                    <li>Planning, promoting, and implementing citizen science projects that invite
                        everyone to participate in a more scientific view of the world around them</li>
                </ul>

                <h4>What is Conservation Technology Solutions Inc?</h4>

                <p>Conservation Technology Solutions is a 501(c)(3) non-profit that seeks to fill the
                    technical gap that currently exists in the field of natural resource conservation.
                    You can read about our mission <a href="{% url 'home:mission' %}">here</a>.
                </p>


                {% if testimonial %}
                    <blockquote>
                        {{ testimonial.body|linebreaks }}
                        <em>{{ testimonial.author }}</em>
                    </blockquote>
                {% endif %}

                <hr style="margin: 40px 0" />

                <div class="donors-section">
                    <h4><strong>CTS Supporters</strong></h4>
                    <p>Our donors make our work possible! We are incredibly grateful for the
                        financial support from the following individuals and organizations in our
                        community.</p>

                    {% display_cts_donors %}
                </div>
            </div>
        </div>
        <div class="space"></div>
        <!-- end container -->
    </div>
    <!-- end main -->
{% endblock %}

{% block extra_js %}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="{% static 'js/stripe-custom-checkout.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fundraising-index.js' %}"></script>
{% endblock %}