{% extends 'fundraising/index.html' %}
{% load humanize static %}

{% block title %}Thank you!{% endblock %}

{% block content %}
    {% block nav %}{{ block.super }}{% endblock %}

    <div class="main">
        <div class="container tim-container" style="padding-top:100px">
            <div class="col-md-3">
                <h3>
                    Thank you for supporting Conservation Technology Solutions
                </h3>
            </div>

            <div class="col-md-9">
                <h4>You're now a CTS Donor!</h4>
                <p>Your support is <strong>critical</strong> to the fulfillment of our mission
                    and the preservation of the environment.</p>

                <p>Please help us spread the word and encourage your friends and colleagues to
                    donate. Thank you!</p>

                <a href="https://twitter.com/share" class="twitter-share-button" data-size="large"
                   data-text="I just donated to support natural resource conservation and promote tech in the sciences!"
                   data-url="https://conservationtechnologysolutions.com/fundraising" data-via="ctsadmin"
                   data-hashtags="SupportCTS" data-show-count="false">Tweet</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                <p>We'd love if you proudly displayed a badge on your website or online profile
                    to help spread the word about our campaign. You may use the "Leader" badge if
                    you donated more than ${{ leadership_level_amount|intcomma }} per year.</p>

                <p class="text-center">
                    <a href="{% static "img/greenbadge_500.png" %}">
                        <img width="300px" height="auto" border="0" title="CTS Donor" alt="CTS Donor"
                             src="{% static "img/greenbadge_500.png" %}"></a>
                    &nbsp; &nbsp;
                    <a href="{% static "img/goldbadge_500.png" %}">
                        <img width="300px" height="auto" border="0" title="CTS Leader" alt="CTS Leader"
                             src="{% static "img/goldbadge_500.png" %}"></a>
                </p>

                <p>If you'd like to have your name or company displayed on the
                    <a href="{% url 'fundraising:index' %}">fundraising page</a> please fill out the form below.
                    This is, of course, <em>optional</em>.
                </p>

                <form enctype="multipart/form-data" action="." method="POST" class="form-horizontal">
                    {% csrf_token %}

                    <hr style="margin: 40px 0" />

                    {% for error in form.non_field_errors %}
                        <div class="form-group has-error text-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {% for field in form %}
                        <div class="has-error text-danger">
                            {{ field.errors }}
                        </div>
                        {% if field.name == 'donor_type' %}
                            <div class="form-group">
                                {{ form.donor_type.label_tag }}
                                {% for radio in form.donor_type %}
                                    <div class="radio">
                                        {{ radio }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% elif field.name == 'logo' %}
                            <div class="form-group">
                                {{ form.logo.label_tag }}
                                <div>
                                    <label class="btn btn-default btn-file">
                                        Browse {{ form.logo }}
                                    </label>
                                </div>
                            </div>
                        {% elif field.name == 'is_visible' %}
                            <div class="form-group checkbox">
                                {{ form.is_visible }}
                                {{ form.is_visible.label_tag }}
                            </div>
                        {% elif field.name == 'is_subscribed' %}
                            <div class="form-group checkbox">
                                {{ form.is_subscribed }}
                                {{ form.is_subscribed.label_tag }}
                            </div>
                        {% else %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <p class="submit">
                        <input id="donor-btn" type="submit" class="btn btn-primary form-group" value="Save &rarr;">
                    </p>
                </form>
            </div>
        </div>
        <div class="space"></div>
        <!-- end container -->
    </div>
    <!-- end main -->
{% endblock %}