{% extends "base.html" %}
{% load i18n markdown %}

{% block title %}Individual Members{% endblock title %}

{% block content %}
    {% block nav %}{{ block.super }}{% endblock nav %}

    <div class="main">
        <div class="container tim-container" style="max-width:800px; padding-top:50px">
            <div class="col-md-3">
                <h3>Individual Members</h3>
            </div>

            <div class="col-md-9">
                <p>
                    The following are Individual Member Supporters of Conservation Technology Solutions. Individual Members
                    are appointed by CTS in recognition of their service to natural resource conservation. If you
                    know someone who you think should be considered for Individual Membership, please

                    <a href="{% slugurl "contact_us" %}">{% trans "get in touch" %}</a>.
                </p>
                <ul>
                    {% for member in members %}
                        <li>{{ member.linked_name }}
                            {{ member.bio|markdownify }}</li>
                    {% endfor %}
                </ul>

                {% if former_members %}
                    <h2>{% trans "Former members" %}</h2>
                    <p>{% trans "The following are former Individual Members of CTS." %}</p>

                    <ul>
                        {% for member in former_members %}
                            <li>{{ member.name }} ({{ member.reason_for_leaving }})</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="space"></div>
        <!-- end container -->
    </div>
    <!-- end main -->
{% endblock %}